<template>
  <div>

    <router-link :to="'/new-product/'">
      <md-button class="md-icon-button md-raised">
        <md-icon>add</md-icon>
      </md-button>
    </router-link>

    <md-layout md-gutter>
      <product-card v-for="product in products" :key="product.uid"
        :uid.sync="product.uid"
        :name.sync="product.name"
        :description.sync="product.description"
        :images.sync="product.images"
        v-on:delete="getProducts"
      ></product-card>
    </md-layout>

  </div>
</template>

<script>
export default {
  data: function () {
    return {
      products: [],
      noimage: '../assets/product.jpg'
    }
  },
  created: function () {
    this.getProducts()
  },
  methods: {
    getProducts: function () {
      let self = this
      this.$http.get('products/?fields=uid,name,description,images').then(
        data => {
          self.products = data.body
        },
        error => {
          self.products = error.body
        }
      )
    }
  }
}
</script>
