<template>

  <md-layout md-flex-xsmall="100" md-flex-small="80" md-flex-medium="50">
    <md-layout md-flex-xsmall="100" md-flex-small="100" md-flex-medium="40">
      <div v-if="images && images.length > 0">
        <carousel :perPage=1>
          <slide v-for="image in images" :key="image.url">
            <md-image :md-src="staticPath(image.url)"></md-image>
          </slide>
        </carousel>
      </div>
      <file-upload
        :owner_uid.sync="uid"
        v-on:update="onImageUploaded">
      </file-upload>
    </md-layout>
    <md-layout md-flex-xsmall="100" md-flex-small="100" md-flex-medium="60">
      <h2>{{dt.name}}</h2>
      <md-input-container>
        <label>Name</label>
        <md-input v-model="dt.name" type="text"></md-input>
      </md-input-container>

      <md-input-container>
        <label>Description</label>
        <md-textarea v-model="dt.description"></md-textarea>
      </md-input-container>
      <md-button class="md-raised md-primary"
        @click="save()">Save</md-button>
    </md-layout>
  </md-layout>
</template>

<script>
import FileUpload from './FileUpload.vue'
import config from '../config'

export default {
  data: function () {
    return {
      dt: {
        name: '',
        description: ''
      },
      images: [],
      uid: this.$route.params.uid
    }
  },
  methods: {
    staticPath: function (relative) {
      return `${config.STATIC}${relative}`
    },
    onSaveSuccess: function (response) {
      this.$router.push({ name: 'products' })
    },
    save: function () {
      const uid = this.$route.params.uid
      let promise = null
      if (uid === undefined) {
        let payload = Object.assign({}, this.dt)
        payload.images = this.images.concat()
        console.log('Payload: ', payload)
        promise = this.$http.post('products/', payload)
      } else {
        promise = this.$http.patch(`products/${uid}/`, this.dt)
      }
      promise.then(this.onSaveSuccess)
    },
    onImageUploaded: function (image) {
      console.log('NEW IMAGE: ', image)
      this.images.push(image)
    },
    update: function () {
      const uid = this.$route.params.uid
      if (uid === undefined) {
        return
      }
      this.$http.get(`products/${uid}/?fields=name,images,description,uid`).then(
        response => {
          this.dt = response.body
          this.images = this.dt.images
        }
      )
    }
  },
  created: function () {
    this.update()
  },
  components: {
    FileUpload
  }
}
</script>
