<template>
  <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-medium="33">
    <md-card>
      <md-card-media>
        <div v-if="images.length > 0">
          <carousel :perPage="1" :autoplay="true" :autoplayTimeout="randonAutoPlayTime()" >
            <slide v-for="image in images" :key="image.url">
              <img :src="staticPath(image.url)"></img>
            </slide>
          </carousel>
        </div>
        <div v-if="images.length == 0">
          <img src="../assets/no-image.jpg"></img>
        </div>
      </md-card-media>

      <md-card-header>
        <div class="md-title">{{name}}</div>
        <div class="md-subhead">{{description}}</div>
      </md-card-header>

      <md-card-actions>
        <router-link :to="'/product/' + uid">
          <md-button class="md-icon-button md-raised">
            <md-icon>edit</md-icon>
          </md-button>
        </router-link>
        <md-button class="md-icon-button md-raised" @click="deleteProduct(uid)">
          <md-icon>delete</md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </md-layout>
</template>

<script>
import config from '../config'
export default {
  name: 'app',
  data () {
    return {}
  },
  props: [ 'uid', 'images', 'name', 'description' ],
  methods: {
    staticPath: function (relative) {
      return `${config.STATIC}${relative}`
    },
    deleteProduct: function (uid) {
      let self = this
      this.$http.delete(`products/${uid}/`).then(data => {
        self.$emit('delete')
      })
    },
    randonAutoPlayTime: function () {
      return 1800 + Math.random() * 400
    }
  }
}
</script>