<template>
  <div id="app">
    <div class="jumbotron hero">
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  margin-top: 0;
}

.hero .get-it h1,
.hero .get-it p {
  color:#fff;
  width: 100%;
  text-align: center;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it h1 {
  font-size: 3em;
}

.hero .get-it p {
  font-size: 1.5em;
}

.hero .get-it {
  margin:90px 0px 90px 0px;
  height:190px;
}

.jumbotron {
  height:500px;
  border-radius: 0;
}

.hero  {
  background-position: center;
  background-image:url("./assets/banner.jpg");
}

</style>
